.eu_europa_eeas span.logo,.eu_europa_cor span.logo,.eu_europa_cdt span.logo,.external span.logo,.eu_europa_gsa span.logo,.eu_europa_eca span.logo,.eu_europa_curia span.logo,.eu_europa_consilium span.logo,.eu_europa_eesc span.logo,.eu_europa_ec span.logo,.eu_europa_europarl span.logo,.eu_europa_edps span.logo,.eu_europa_era span.logo,.eu_europa_easa span.logo,.eu_europa_acer span.logo,.eu_europa_ombudsman span.logo,.eu_europa_berec span.logo,.eu_europa_eea span.logo,.eu_europa_eiopa span.logo,.eu_europa_cedefop span.logo,.eu_europa_efca span.logo,.eu_europa_esma span.logo,.eu_europa_europol span.logo,.eu_europa_ecb span.logo,.eu_europa_osha span.logo,.eu_europa_fch span.logo,.eu_europa_imi span.logo,.eu_europa_sesar span.logo,.eu_europa_eurofound span.logo,.eu_europa_eurojust span.logo,.eu_europa_fra span.logo,.eu_europa_efsa span.logo,.eu_europa_emsa span.logo,.eu_europa_echa span.logo,.eu_europa_eba span.logo,.eu_europa_etf span.logo,.eu_europa_eit span.logo,.eu_europa_f4e span.logo,.eu_europa_eige span.logo,.eu_europa_emcdda span.logo,.eu_europa_cpvo span.logo,.eu_europa_eui span.logo,.eu_europa_frontex span.logo,.eu_europa_ema span.logo,.eu_europa_cepol span.logo,.eu_europa_easo span.logo,.eu_europa_ecdc span.logo,.eu_europa_european-council span.logo,.eu_europa_cleansky span.logo,.eu_europa_enisa span.logo,.eu_europa_eda span.logo,.eu_europa_eulisa span.logo,.eu_europa_ecsel span.logo,.eu_europa_bbi span.logo,.eu_europa_eib span.logo,.eu_europa_srb span.logo,.eu_europa_s2r span.logo,.eu_europa_euipo span.logo {background-image: url(https://ecas.ec.europa.eu/cas/images/sprite_domains.png); background-repeat: no-repeat;     display: block;
    margin: 5px auto;
    width: 140px;
    height: 70px;}
.eu_europa_eeas span.logo {background-position: center -0px}
.eu_europa_cor span.logo {background-position: center -74px}
.eu_europa_cdt span.logo {background-position: center -148px}
.external span.logo {background-position: center -222px}
.eu_europa_gsa span.logo {background-position: center -506px}
.eu_europa_eca span.logo {background-position: center -580px}
.eu_europa_curia span.logo {background-position: center -654px}
.eu_europa_consilium span.logo {background-position: center -728px}
.eu_europa_eesc span.logo {background-position: center -802px}
.eu_europa_ec span.logo {background-position: center -876px}
.eu_europa_europarl span.logo {background-position: center -950px}
.eu_europa_edps span.logo {background-position: center -1024px}
.eu_europa_era span.logo {background-position: center -1098px}
.eu_europa_easa span.logo {background-position: center -1172px}
.eu_europa_acer span.logo {background-position: center -1246px}
.eu_europa_ombudsman span.logo {background-position: center -1320px}
.eu_europa_berec span.logo {background-position: center -1394px}
.eu_europa_eea span.logo {background-position: center -1468px}
.eu_europa_eiopa span.logo {background-position: center -1542px}
.eu_europa_cedefop span.logo {background-position: center -1616px}
.eu_europa_efca span.logo {background-position: center -1690px}
.eu_europa_esma span.logo {background-position: center -1764px}
.eu_europa_europol span.logo {background-position: center -1838px}
.eu_europa_ecb span.logo {background-position: center -1912px}
.eu_europa_osha span.logo {background-position: center -1986px}
.eu_europa_fch span.logo {background-position: center -2060px}
.eu_europa_imi span.logo {background-position: center -2134px}
.eu_europa_sesar span.logo {background-position: center -2208px}
.eu_europa_eurofound span.logo {background-position: center -2282px}
.eu_europa_eurojust span.logo {background-position: center -2356px}
.eu_europa_fra span.logo {background-position: center -2430px}
.eu_europa_efsa span.logo {background-position: center -2504px}
.eu_europa_emsa span.logo {background-position: center -2578px}
.eu_europa_echa span.logo {background-position: center -2652px}
.eu_europa_eba span.logo {background-position: center -2726px}
.eu_europa_etf span.logo {background-position: center -2800px}
.eu_europa_eit span.logo {background-position: center -2874px}
.eu_europa_f4e span.logo {background-position: center -2948px}
.eu_europa_eige span.logo {background-position: center -3022px}
.eu_europa_emcdda span.logo {background-position: center -3096px}
.eu_europa_cpvo span.logo {background-position: center -3170px}
.eu_europa_eui span.logo {background-position: center -3244px}
.eu_europa_frontex span.logo {background-position: center -3318px}
.eu_europa_ema span.logo {background-position: center -3392px}
.eu_europa_cepol span.logo {background-position: center -3466px}
.eu_europa_easo span.logo {background-position: center -3540px}
.eu_europa_ecdc span.logo {background-position: center -3614px}
.eu_europa_european-council span.logo {background-position: center -3688px}
.eu_europa_cleansky span.logo {background-position: center -3762px}
.eu_europa_enisa span.logo {background-position: center -3836px}
.eu_europa_eda span.logo {background-position: center -3910px}
.eu_europa_eulisa span.logo {background-position: center -3984px}
.eu_europa_ecsel span.logo {background-position: center -4058px}
.eu_europa_bbi span.logo {background-position: center -4132px}
.eu_europa_eib span.logo {background-position: center -4206px}
.eu_europa_srb span.logo {background-position: center -4280px}
.eu_europa_s2r span.logo {background-position: center -4354px}
.eu_europa_euipo span.logo {background-position: center -4428px}
