<form name="form" class="request" ng-submit="ctrl.submit()">
  <div class="form-group">
    <label for="firstname"><span class="mandatory"></span> First name:</label> {{ctrl.model.firstName}}

  </div>

  <div class="form-group">
    <label for="lastname"><span class="mandatory"></span> Last name: </label> {{ctrl.model.lastName}}
  </div>

  <div class="form-group">
    <label for="email"><span class="mandatory"></span> Email: </label> {{ctrl.model.email}}
  </div>

  <div class="form-group">
    <label for="mobile">Mobile phone number: </label> {{ctrl.model.mobile}}
  </div>

  <div class="form-group">
    <label for="idDocNumber"><span class="mandatory"></span> Official document ID: </label> {{ctrl.model.idDocNumber}}
  </div>

  <div class="form-group">
    <label for="validityIdDate"><span class="mandatory"></span> ID validity date: </label> {{ctrl.model.validityIdDate | date:'dd/MM/yyyy'}}
  </div>

  <div class="form-group">
    <label for="dateOfBirth">Date of birth: </label> {{ctrl.model.dateOfBirth | date:'dd/MM/yyyy'}}
  </div>

  <div class="form-group">
    <label for="host"><span class="mandatory"></span> Visiting host: </label> {{ctrl.model.host}}
  </div>

  <div class="form-group buildings">
    <label><span class="mandatory"></span> Building: </label> {{ctrl.selectedBuilding.name}}
  </div>

  <div class="form-group">
    <label for="office">Office: </label> {{ctrl.model.office}}
  </div>

  <div class="form-group">
    <label for="visitDate">Visiting date: </label> {{ctrl.model.visitingDate | date:'dd/MM/yyyy'}}
  </div>

  <div class="form-group">
    <label for="nationality">Nationality: </label> {{ctrl.model.nationality}}
  </div>

  <div>
    <label>Parking required: </label> Yes
  </div>

  <div class="form-group">
    <label for="plate">Car plate: </label> {{ctrl.model.plate}}
  </div>

  <div class="form-group">
    <label for="comment">Comment: </label> {{ctrl.model.comment}}
  </div>

</form>